:root {
    --main-bg-color: wheat;
    --main-txt-color: black;
    --container-width: 80%;
    --header-bg-color: black;
    --header-txt-color: white;
}

html {
    background: rgb(34, 0, 0);
}

body {
    margin:20px;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5;
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
}

header#Gamble {
    background-color: var(--header-bg-color);
    color: var(--header-txt-color);
}

header#Gamble h1{
    padding: 0;
    margin: 0;
}

img {
    padding: 2px 30% 1px;
    width: 35%;
}

li {
    list-style: none;
    display: inline;
}

.One {
    width: var(--container-width);
    margin: 20px auto;
}

.Two {
    width: var(--container-width);
    margin: 20px auto;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.btn {
    background-color: red;
    border-radius: 5px;
    border: none;
    color: white;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.3rem;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.btn:hover{
    opacity: 0.5;
    background-color: green;
    color: yellow;
}


@media (max-width: 400px) {
    #blog {
        background: blue;
    }
    #Bio {
        background: purple;
    }
    #Help {
        background: orange;
    }
}

.SlotM {
    --box-bg-color: rgb(211, 211, 211);
    --box-main-color: red;
    --box-outline-color: blue;
    --box-glow-color: rgb(235, 98, 8);
    --box-padding: 2px 5px;
    --box-shadow-h-offset: 10px;
    --box-shadow-v-offset: 5px;
    --box-shadow-blur: 5px;
}

.SlotM h1{
    color: var(--box-main-color);
}

.Poker {
    --box-bg-color: rgb(211, 211, 211);
    --box-main-color: red;
    --box-outline-color: blue;
    --box-glow-color: rgb(235, 98, 8);
    --box-padding: 2px 5px;
    --box-shadow-h-offset: 10px;
    --box-shadow-v-offset: 5px;
    --box-shadow-blur: 5px;
}

.Poker h1{
    color: var(--box-main-color);
}

.Help h1{
    --box-main-color: red;
    color: var(--box-main-color);
}